{% if include.star %}
  {% assign condition = "item.singer contains " | append: 'include.star' %}
{% else %}
	{% assign condition = "item.singer" %}
{% endif %}
{% assign sorted = site.data.audio | where_exp: "item", condition | sort: 'date' %}
<div class="player-container">
	<header>
		<h4 id="title">&nbsp;</h4>
		<p id="meta">&nbsp;</p>
	</header>
	<audio id="audio" preload="auto" tabindex="0" controls="" >
	  <source src="">
	  Your browser does not support the <code>audio</code> element.
	</audio>

	<ul id="playlist">
	{% for song in sorted %}
	<li>{% if song.id %}{% assign link = "https://api.clyp.it/" | append: song.id | append: ".mp3" %}{% elsif sond.alt %}{% assign link = "https://api.soundcloud.com/tracks/" | append: song.alt | append: "/stream?client_id=e31d6d4ea94c769510c7742a731ee87b" %}{% elsif song.micca %}{% assign link = "https://www.miccaclub.com/mp3/" | append: song.micca | append: ".mp3" %}{% elsif song.petrosh_altervista_org %}{% assign link = "http://petrosh.altervista.org/telemarket/audio/" | append: song.petrosh_altervista_org | append: ".mp3" %}{% endif %}<a href="{{ link }}" data-meta="{{ song.singer }}{% if song.date %}{{ ', ' | append: song.date }}{% endif %}{% if song.original %}{{ ' - ' | append: song.original }}{% endif %}"><h4>{{ song.name }}</h4></a>
    <p>{{ song.singer | join: ", " }}{% if song.date %}, {{ song.date }}{% endif %}</p></li>
	{% endfor %}
	</ul>
</div>

<style media="screen">
.player-container{padding:20px;}
.active a, .page-link.active{color:DarkOrange;}
ul li {display:block;padding:5px;margin-bottom:0}
/*#playlist,audio{width:400px;}*/
#title{font-weight: bold;margin-bottom: 0;}
.player-container header{margin-left: 30px;color: grey;}
.site-footer p {margin-bottom: 0}
</style>