{% if include.star %}
  {% assign condition = "item.singer contains " | append: 'include.star' %}
{% else %}
	{% assign condition = "item.singer" %}
{% endif %}
{% assign sorted = site.data.audio | where_exp: "item", condition | sort: 'name' %}
<div class="player-container">

  <ul id="playlist">
  {% for song in sorted %}
    <li>{% if song.github %}{% assign link = site.baseurl | append: "/mp3/" | append: song.github | append: ".mp3" %}{% endif %}
      <a href="{{ link }}" data-meta="{{ song.singer }}{% if song.date %} ({{ song.date }}){% endif %}{% if song.original %} - {{ song.original }}{% endif %}"><h4>{{ song.name }}</h4></a>
      <p>{{ song.singer }}{% if song.date %} ({{ song.date }}){% endif %}{% if song.original %} - {{ song.original }}{% endif %}</p>
    </li>{% endfor %}
  </ul>
</div>