html {
  overflow-y: scroll;
}

ul li {
  margin-bottom: 2em;
  display: inline-block;
  h4 {
    font-weight: bold;
    margin-bottom: 0;
  }
  p {
    margin-bottom: .5em;
  }
}

.wrapper {
  max-width: 1920px;
}
